<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>16597384086-uf4a5k28qlrdp53n2st8uv8rciqgaog0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.16597384086-uf4a5k28qlrdp53n2st8uv8rciqgaog0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>16597384086-o1o5e4u9a6usmo8f10vplqernd4gjsdd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyANkCxAWJFYaNbPmgzH3B9KHCySfaQ1sls</string>
	<key>GCM_SENDER_ID</key>
	<string>16597384086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nightOut.NightOut</string>
	<key>PROJECT_ID</key>
	<string>nightout-bf14a</string>
	<key>STORAGE_BUCKET</key>
	<string>nightout-bf14a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16597384086:ios:7a4fdbc6aecf71f441bbb7</string>
	<key>DATABASE_URL</key>
	<string>https://nightout-bf14a-default-rtdb.firebaseio.com</string>
</dict>
</plist>