<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDClientID</key>
	<string>714999336065-ntnevar6dhvn3u1b2eqog3lf625cheqf.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.714999336065-ntnevar6dhvn3u1b2eqog3lf625cheqf</string>
			</array>
			<key>CFBundleURLName</key>
			<string>714999336065-ntnevar6dhvn3u1b2eqog3lf625cheqf</string>
		</dict>
	</array>
</dict>
</plist>
